.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0, 0, 0, 0.2) 50%), url(../../images/background.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}


/* Style pour les onglets */
.tabs {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.tabs li {
  margin: 0 10px;
}

.tabs li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
}

.tabs li a:hover {
  color: black;
}

