footer {
	margin-top: 40px;
	border-top: 5px solid #6f6f6f; background-color: rgb(0, 0, 0); color: #fff;
	padding: 10px 20px;;
}
footer h1 {
	font-family: 'Lora', serif; border-bottom: 1px solid white;
	width: 20%;
	padding-bottom: 5px;
}
footer .services {
	margin-top: -10px;
	display: flex; 
	flex-wrap:wrap;
}

footer .services .service {
	margin-right: 20px;
}

footer .services .service p {
	max-width: 300px;
}

footer #contact{
	color: rgb(181, 181, 181);
}

.footer-text {
  text-align: right;
  padding-right: 5px;
  font-style: italic;
}